@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

:root {
    --bg-color: #e7e7e7;;
    --letter: #000;
    --hard: #f72d00;
    --suave:#C02700;
    --geral: #a02100;
    --lower: #801A00;
}

.dark-mode:root {
    --bg-color: #202020;
    --letter: #fff;
    --hard: #1F42F1;
    --suave:#5772F5;
    --geral: #8FA1F8;
    --lower: #C7D0FC;
}


* {
    margin: 0;
    padding: 0;
    color: var(--letter);
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: var(--bg-color);

    .dark-mode &{
        background-color: var(--bg-color);
    }
}

main {
    height: 110vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
 nav {
    display: flex;
    gap: 20px;
    flex-direction: column;
 }

 #foto-texto {
    display: flex;
    gap: 7px;
    flex-direction: column;
 }

#titulo-principal {
    text-align: center;
}

img {
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 1.5px solid var(--lower);
    width: 170px;
    margin: 10px auto 0 auto;
}
#meu-nome  {
    text-align: center;
}

.link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: 1px solid var(--suave);
    margin: auto;
    font-size: 17px;
    width: 500px;
    padding: 10px;
    align-items: center;
.dark-mode & {
    border: 1px solid var(--lower);
    }
}
.link:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: black;
    background: var(--suave);
    box-shadow: 0 0 10px var(--suave), 
                0 0 40px var(--suave),
                0 0 10px var(--suave);
    font-size: 19px;
.dark-mode & {
    background: var(--lower);
    box-shadow: 0 0 10px var(--lower), 
                0 0 40px var(--lower),
                0 0 10px var(--lower);
    }
}

#checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#p-footer {
    text-align: center;
}

@media (max-width: 1200px){

*{
    margin: 0;
    padding: 0;
}

.link{
    width: 200px;
    border-radius: 10px;
}

img{
    width: 120px;
}
#meu-nome{
    font-size: 15px;

}

}


